*{
	font-family: "Source Sans Pro", "sans-serif";
	box-sizing: border-box;
}

body{
	margin: 0;
}

main > section{
	display: none;
	padding: 10px;
}

main > section.active{
	display: block;
}

h1{
	margin: 0;
	padding: 30px 15px;
	background-color: #222;
	color: white;
}

h2{
	margin: 20px 0 0 0;
	padding: 10px;
}

h3{
	left: 10px;
	font-size: 24pt;
	margin: 0 0 30px 0;
}

h4{
	margin: 0 0 10px 0;
}

p{
	padding-left: 10px;
}

#tutors_list{
	padding: 0;
	margin: 0;
}

#tutors_list > li{
	border: 1px solid #666;
	display: inline-block;
	width: calc(50% - 20px);
	margin: 10px;
	padding: 20px;
	position: relative;
}

img{
	float: left;
	padding-right: 10px;
}

.skill_list > li{
	display: inline;
	margin-right: 10px;
	border-radius: 2em;
	padding: 0 .5em;
	border: 10px solid rgba(221,221,221,255);
	color: black;
	background-color: #dddddd;
}

.enter{
	display: inline;
	border: 0px;
	border-radius: .5em; box-sizing: border-box;
	color: white;
	text-align: center;
	background-color: #569b84;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	height: 2.5em;
	width: 10em;
}

.return{
	display: inline;
	margin-left: 10px;
	border: 0px;
	border-radius: .5em; box-sizing: border-box;
	color: white;
	text-align: center;
	background-color: #aab;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	height: 2.5em;
	width: 9em;
}

li > .enter{
	position: absolute;
	right: 20px;
	top: 20px;
}

table{
	border-collapse: collapse;
	margin: 25px 10px;
	width: 100%;
	border-bottom: 1px solid gray;
}

table thead tr{
	background-color: gray;
	color: white;
	text-align: left;
}

table th, td{
	padding: 12px 15px;
	border-right: solid 1px white;
}

form{
	margin: 10px;
}

input, textarea{
	width: 100%;
	border: 0.5px solid gray;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 12pt;
}

textarea{
	height: 400px;
}

input:focus, textarea:focus{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}